<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="tus-icon.ico">

    <style>
    .logo {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 1001;
        transition: transform 0.3s ease;
      }
  
      .logo img {
        /* border-radius: 8px; */
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 120px;
        height: 48px;
      }
      </style>

</head>
<body>

    <a href="#" class="logo">
        <picture>
          <source srcset="TUS-Logo-White.png" media="(prefers-color-scheme: dark)">
          <source srcset="TUS-Logo-Black.png" media="(prefers-color-scheme: light)">
          <img src="TUS-Logo-Black.png" alt="TUS Logo"> <!-- Fallback -->
        </picture>
      </a>

    <main class="container">
        <h1>System Settings</h1>
        <form>
            <h2>Timelapse Configuration</h2>
            <div class="grid">
                <label for="hours-to-run">
                    Hours to Run
                    <input type="number" id="hours-to-run" name="hours-to-run" placeholder="Hours">
                </label>
                <label for="images-per-hour">
                    Images per hour
                    <input type="number" id="images-per-hour" name="images-per-hour" placeholder="Images">
                </label>
            </div>
            
            <a href="/logout" class="button">Logout</a>
        </form>
    </main>
</body>
</html>